
	<div id="hero-content" class="row">
		<div class="small-12 columns">
			<img src="<%= asset_path 'hero-logo.png' %>" class="left" />
			<h1>Welcome to Jizo!</h1>
			<p><a href="https://en.wikipedia.org/wiki/Ksitigarbha" target="_blank">Jizo</a> (pronounced G - ZO) protective deity of travelers. Jizo is also a place where you can easily get and save directions to your facebook events!</p>
			<p>Give it a try!</p>
			<a href="#" class="button hollow">Default Button</a>
		</div>
	</div>



