<div id="panel<%=event['id']%>a" class="content">
							<div class="description"> 
								<p>
									Date of the Event: <%=event['start_time'] %>
									Start Time: 
								</p>
								<%= event['description'] %>
							</div>
							<div class="start-time">
								<p><span>Start Time:</span> 2012-12-02T11:00:00+0100</p>
							</div>
							<div class="end-time">
								<p><span>End Time:</span> 2012-12-02T18:00:00+0100</p>
							</div>
							<div class="attending">
								<p><span>Attending:</span>8142</p>
							</div>
							<div class="maybe">
								<p><span>Maybe:</span>1180</p>
							</div>
							<div class="no-reply">
								<p><span>No-reply:</span>16197</p>
							</div>
						</div>