<div id="panel<%=event['id']%>a" class="content">
	<div class="links">
		<ul class="inline-list show-for-small-only">
			<li><a href="#event-map-wrapper">Go To Map</a></li>
			<li><a href="#event-directions-wrapper">Go To Directions</a></li>
		</ul>
	</div>
	<div class="description"> 
		<p><span>Date of the Event:</span> <span class="start-date-value"><%= event['date'] %></span></p>
		<p><span>Description:</span> <%= event['description'] %></p>
	</div>
	<div class="start-time">
		<p><span>Start Time:</span> <span class="start-time-value"> <%= event['start_time'] %></span></p>
	</div>
	<div class="end-time">
		<p><span>End Time:</span> 2012-12-02T18:00:00+0100</p>
	</div>
	<div class="attending">
		<p><span>Attending:</span> 8142</p>
	</div>
	<div class="maybe">
		<p><span>Maybe:</span> 1180</p>
	</div>
	<div class="no-reply">
		<p><span>No-reply:</span> 16197</p>
	</div>
</div>