/*
KULER COLORS
	36362C Dark Green
	5D917D Teal
	A8AD80 Olive
	E6D4A7 Beige
	825534 Brown

FLAT DESIGN COLORS
	ecf0f1 Clouds

FACEBOOK COLORS
	3b5998 FB BLUE
	0e1f5b FB DARK BLUE
	6d84b4 FB MEDIUM BLUE
	afbdd4 FB LIGHT BLUE
	d8dfea FB LIGHT BLUE

FOUNDATION UI COLORS
	333333 Dark Dark Grey
*/


/*BEGIN MAIN STYLES*/

::selection {
	background: #825534;
	color: #FFFFFF;
}
::-moz-selection {
	background: #E6D4A7;
	color: #FFFFFF;
}
body {
	background: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'perpetua', serif;
}
a:link,
a:visited {
	color: #ecf0f1;
	text-decoration: underline;
}
a:hover,
a:active {
	color: #E6D4A7;
}
header {
	border-bottom: 1px solid #E6D4A7;
}
header a h1 {
	text-decoration: none;
}
header h1 img {
	margin-right: 15px;
}
.top-bar a {
	text-decoration: none;
}
.top-bar-section ul li > a.button.facebook {
	background-color: #3b5998;
}
.top-bar-section ul li > a.button:hover,
.top-bar-section ul li > a.button:focus {
	background-color: #0e1f5b;
}

/*BEGIN HERO PAGE*/

#hero-body-wrapper {
	min-height: 100%;
	width: 100%;
	padding: 15px 0 15px 0;
	color: #ECF0F1;
	background: #825534;
	background-image: url(http://www.transparenttextures.com/patterns/diamond-upholstery.png);
	position: relative;
}
#hero-body-content {
	text-align: center;
}
#hero-body-content img {
	padding-right: 15px;
}
#hero-body-content h1 {
	font-size: 5em;
	color: #E6D4A7;
}
#hero-body-content h2 {
	color: #E6D4A7;
}
#hero-body-content p {
	font-size: 1.5em;
}
#hero-body-content .button {
	background: #3b5998;
}
#hero-body-content .button:hover {
	background: #0e1f5b;
}
#hero-body-content i {
	font-size: 7em;
}
#hero-body-content i.fa-facebook-official {
	color: #3b5998;
}
#hero-body-content i.fa-list {
	color: #ecf0f1;
}
#hero-body-content i.fa-location-arrow {
	color: #6d84b4;
}
#hero-top {
	padding-bottom: 15px;
}
#hero-bottom {}

/*END HERO PAGE*/


/*BEGIN EVENTS PAGE*/

#events-body-wrapper {
	min-height: 100%;
	padding: 15px;
	background: #825534;
	background-image: url(http://www.transparenttextures.com/patterns/diamond-upholstery.png);
}
#events-body-content {
	padding: 15px 0 15px 0;
	background: #333333;
	border: 1px solid #E6D4A7;
}
#events-body-content h2 {
	color: #e6d4a7;
	margin: 0;
}
#events-body-content.row {
	max-width: 100%;
}
#events-list-wrapper {}
#events-list-content {
	padding: 15px;
}

/*BEGIN ACCORDION OVERRIDE*/

#events-list-content .accordion .accordion-navigation,
#events-list-content .accordion dd {
	border: 1px solid #E6D4A7;
	border-bottom: 0;
}
#events-list-content .accordion .accordion-navigation:last-child,
#events-list-content .accordion dd:last-child {
	border-bottom: 1px solid #E6D4A7;
}
#events-list-content .accordion .accordion-navigation > a,
#events-list-content .accordion dd > a {
	background: #825534;
	color: #ecf0f1;
	text-decoration: none;
}
#events-list-content .accordion .accordion-navigation > a:hover,
#events-list-content .accordion dd > a:hover {
	background: #E6D4A7;
	color: #333333;
}
#events-list-content .accordion .accordion-navigation > .content.active,
#events-list-content .accordion dd > .content.active {
	background: #E6D4A7;
	color: #333333;
}

/*END ACCORDION OVERRIDE*/


/*BEGIN ACCORDION DESCRIPTION STYLES*/

#events-list-content .start-time p span {
	font-weight: 700;
}
#events-list-content .end-time p span {
	font-weight: 700;
}
#events-list-content .attending p span {
	font-weight: 700;
}
#events-list-content .maybe p span {
	font-weight: 700;
}
#events-list-content .no-reply p span {
	font-weight: 700;
}

/*BEGIN ACCORDION DESCRIPTION STYLES*/

#event-map-wrapper {}
#event-map-content {
	padding: 15px;
}
#event-directions-wrapper {}
#event-directions-content {
	padding: 15px;
}

/*END EVENTS PAGE*/

footer {}

/*BEGIN FOUNDATION OVERRIDES*/

button,
.button {
	text-decoration: none !important;
}
.button.hollow {
	border-width: 2px;
	border-color: #ecf0f1;
	background: none;
}
.button.hollow:hover {
	border-color: #E6D4A7;
	color: #E6D4A7;
}
ul {
	margin-left: 0;
}

/*END FOUNDATION OVERRIDES*/
