<footer class="row">
	<div class="small-12 medium-10 columns text-left">
		<p>Bicycling directions are in beta. Use caution – This route may contain streets that aren't suited for bicycling.</p>
		<p>Walking directions are in beta. Use caution – This route may be missing sidewalks or pedestrian paths.</p>
	</div>
	<div class="small-12 medium-2 columns text-right">
		<p><a data-reveal-id="privacy-policy" href="#">Privacy Policy</a></p>
		<%= render "layouts/privacy_policy_modal" %>
	</div>
</footer>